<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.dao.SourceTableDao">

    <select id="findList" resultType="com.book.entity.ProductInfo">
        select product_id as productId, product_name as productName from  product_info
    </select>

    <!-- 动态修改表结构 -->
    <update id="updateTableColumnToCopy" parameterType="java.lang.String">
        alter table product_info add column ${column} varchar(255) after product_name;
    </update>

    <!-- 动态修改表结构 -->
    <update id="updateTableNameToCopy" parameterType="java.lang.String">
        ALTER TABLE product_info RENAME TO ${tableName};
    </update>

    <update id="createTable" parameterType="java.lang.String">
      CREATE TABLE ${tableName} (
      `PH_KEY` varchar(20) NOT NULL COMMENT '主键',
      `SHEETID` varchar(20) DEFAULT NULL COMMENT '单据编号',
      `REFSHEETID` varchar(20) DEFAULT NULL COMMENT '调价单号',
      `REFSHEETTYPE` int(11) DEFAULT NULL COMMENT '取消单类型',
      `SHEETCANCELFLAG` varchar(20) DEFAULT NULL COMMENT '取消标志  （Y正常  ，N  取消）',
      `SHOPID` varchar(6) DEFAULT NULL COMMENT '调价店号',
      `CHANGEMODE` int(11) DEFAULT NULL COMMENT '调价模式：0永久调价，1促销调价',
      `STARTDATE` varchar(10) DEFAULT NULL COMMENT '开始日期',
      `ENDDATE` varchar(10) DEFAULT NULL COMMENT '结束日期',
      `NMPRICEFLAG` int(11) DEFAULT NULL COMMENT '调售价标志 0不调正常售价;1调正常售价（包括促销售价、促销包装售价）',
      `CHECKDATE` datetime DEFAULT NULL COMMENT '审核日期',
      `EXECUTETIME` varchar(35) DEFAULT NULL COMMENT '执行时间',
      `NOTE` varchar(64) DEFAULT NULL COMMENT '备注',
      `ORDERFLAG` int(11) DEFAULT NULL COMMENT '调价优先级别',
      `STARTTIME` varchar(10) DEFAULT NULL COMMENT '开始时间',
      `ENDTIME` varchar(10) DEFAULT NULL COMMENT '结束时间',
      `DMSHEETID` varchar(20) DEFAULT NULL COMMENT 'DM促销单号',
      `ISEMPTY` int(11) DEFAULT NULL COMMENT '是否允许为空',
      `AREAID` varchar(20) DEFAULT NULL COMMENT '区域信息',
      `UPDTYPE` varchar(10) DEFAULT NULL COMMENT '"调价类型\n调价类型：001 DM调价002 竞争调价003 市调调价004 出清调价\n\n融通传输：以下两种促销类型不传，传空值：\n1001 促销商品清单\n0013低进价入库\n\n融通传输：以下五种促销类型需传：\n0001日期段促销\n0002时段促销\n0003限量促销\n0004超量促销\n0012以旧换新"',
      `PLANID` varchar(10) DEFAULT NULL COMMENT '档期编号',
      `PROMNO` varchar(10) DEFAULT NULL COMMENT '促销号',
      `POPLEVEL` varchar(10) DEFAULT NULL COMMENT '(营销上线增加)促销级别   0：单品、1：组别、2：组站',
      `RULENO` varchar(30) NOT NULL COMMENT '(营销上线增加)活动号  ，所有单据不重复  按照这个单处理优先级',
      `FDMODE` varchar(4) DEFAULT NULL COMMENT '(营销上线增加)促销扣款分担方式1-进价差2-售价差'',',
      `SDFLAG` varchar(4) DEFAULT NULL COMMENT '(营销上线增加)时段标志(1-全天2-时段)',
      `CUSTTYPE` varchar(10) DEFAULT NULL COMMENT '(营销上线增加)会员类型'',',
      `PRI` int(11) DEFAULT NULL,
      `SYNCHRO` int(4) DEFAULT 0 COMMENT '同步标记：1 已同步 ，0 未同步',
      `CREATE_TIME` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '创建时间',
      `UPDATE_TIME` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '修改时间',
      `ID` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '自增主键',
      PRIMARY KEY (`ID`),
      UNIQUE KEY `UK_RULENO` (`RULENO`) USING BTREE,
      KEY `SHEETID_INDEX` (`SHEETID`) USING BTREE,
      KEY `promno_shopid_index` (`PROMNO`,`SHOPID`) USING BTREE
    ) ENGINE=InnoDB AUTO_INCREMENT=492318 DEFAULT CHARSET=utf8;
    </update>

</mapper>