<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.dao.UserInfoDao">

    <resultMap id="userInfo" type="com.book.entity.UserInfo">
        <id column="id" property="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="nick_name" property="nickName"></result>
        <result column="password" property="password"></result>
        <result column="sex" property="sex"></result>
        <result column="address" property="address"></result>
        <result column="birthday" property="birthday"></result>
        <result column="delete_flag" property="deleteFlag"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

  <insert id="addUserInfo" parameterType="com.book.entity.UserInfo">
  	insert into user_info (user_name,address)
    values (#{userName},#{address})
  </insert>


        <insert id="batchInsert" parameterType="java.util.List">
        INSERT  INTO user_info(user_name,address)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userName},#{item.address})
        </foreach>
    </insert>

<!--    <insert id="batchInsert" parameterType="java.util.List">
        INSERT  INTO agent(job_number,department,region,username,idcard,company_rankings,department_rankings,region_rankings,
        distance_first_company,distance_first_department,distance_first_region)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.job_number},#{item.department},#{item.region},#{item.username},#{item.idcard},#{item.company_rankings},
            #{item.department_rankings},#{item.region_rankings},#{item.distance_first_company},#{item.distance_first_department},#{item.distance_first_region})

        </foreach>
    </insert>-->

 
</mapper>